
<div class="container">
  <div class="row justify-content-center pt-4">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
        <h4>Login Page</h4>
        </div>
        <div class="card-body">
          <div class="form-login">
            <form [formGroup]="myForm">
              <div class="mb-3 form-group">
                <label for="username" class="form-label">User Name : </label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <div class="invalid-feedback">
                  this field is required
                </div>
              </div>
              <div class="mb-3 form-group">
                <label for="password" class="form-label">Password : </label>
                <input type="password" class="form-control" formControlName="password">
                <div [appValidation]="$any(myForm.get('password'))"></div>
              </div>
              <div class="submit d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="submit()">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

